.outter-container {
  text-align: center;
  padding: 20px 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.loading {
  margin-left: 33.3%;
}
.card {
  width: 29%;
  display: flex;
  padding: 2%;
  margin: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card img {
  width: 60%;
  transition: all ease 1s;
}
.card:hover img {
  scale: 1.1;
}
.card a div {
  overflow: hidden;
}
button {
  margin: 5px 0;
  padding: 2px;
  width: 60%;
}

.card a {
  text-decoration: none;
  color: black;
}
.productinfo {
  padding: 8%;
  display: flex;
  justify-content: space-between;
}
.productinfo div {
  display: flex;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.productinfo img {
  width: 30%;
}
