* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outter-box {
  background-image: radial-gradient(
    circle 311px at 8.6% 27.9%,
    rgba(62, 147, 252, 0.57) 12.9%,
    rgba(239, 183, 192, 0.44) 91.2%
  );

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-box {
  border-radius: 8px;
  padding: 8%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30vh;
}
.inner-box label {
  margin: 2px;
}
.inner-box input {
  border: solid rgba(192, 18, 201, 0.041);
  border-radius: 8px;
  width: 100%;
  display: block;
  margin: 4px;
  padding: 2%;
}
.inner-box button {
  background-image: radial-gradient(
    circle 311px at 8.6% 27.9%,
    rgba(62, 147, 252, 0.57) 12.9%,
    rgba(239, 183, 192, 0.44) 91.2%
  );
  border: solid rgba(192, 18, 201, 0.041);
  width: 100%;
  display: block;
  margin: 4px;
  padding: 2%;
}
.inner-box button:hover {
  background-image: radial-gradient(
    circle 311px at 8.6% 27.9%,
    rgba(42, 136, 251, 0.842) 12.9%,
    rgba(243, 117, 138, 0.896) 91.2%
  );
  cursor: pointer;
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
}
